[Unit]
Description=LGAircon controller
After=network-wait-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=river
WorkingDirectory=
ExecStart=/usr/local/bin/lgaircon

[Install]
WantedBy=multi-user.target
