[Unit]
Description=LGAircon controller
After=network-wait-online.target

[Service]
Type=simple
Restart=always
User=lg
RestartSec=10
ExecStart=/usr/local/bin/lgaircon

[Install]
WantedBy=multi-user.target